@import url(variables.css);

.first__column{
    font-size: 220%;
    padding-bottom: 40px;
}

.primary__image{
    width: 85%;
}

.primary__image:hover{
    height: 35%;
}


.secondly__image{
    width: 80%;
    padding-bottom: 20px;
}

.secondly__image:hover{
    width: 90%;
}

.container__primary{
    grid-area: 1/1/4/2;
    background: var(--yellow100)
}

.container__secondly{
    grid-area: 4/1/7/2;
    background: var(--yellow500)
}