@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Necesito corregir el tamanio de la pagina aun antes de comenzar todo */
/* Hacer el que el grid container llene toda la pantalla */
body{
    font-family: "DM Sans";
    max-width: 1440px;
    background: #f2f2f2;
    margin: auto;
}


.container{
    padding: 50px 150px;
    height: 100vh;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.paragraph{
    font-size: 18px;
}

/* .ALL DA LA PROPIEDAD A CADA CASILLA DE INFORMACION DE LA WEB  */
.all{
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 50px 20px;
    width: 95%;
    height: 95%;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.all:hover{
    width: 100%;
    height: 100%;
}

.salto__de__linea{
    line-height: 0.9;
}

.container__title{
    background: var(--morado500);
    grid-area: 1/4/3/2;
}

.titulo{
    color: var(--white);
    font-size: var(--titleSize);
    text-align: center;
    margin-bottom: 10px;
}

.title__image{
    height: 10%;
    margin-bottom: 10px;
}

.title__paragraph{
    color: var(--white);
}



@media screen and (width: 375px) {
    
}