:root{
    --morado100: hsl(254, 88%, 90%);
    --morado500: hsl(256, 67%, 59%);
    --yellow100: hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --titleSize: 350%;
}